@model List<FAQVM>
@{
    ViewData["Title"] = "Questions";
    Layout = "_WebsiteLayout";
}

<!-- start wpo-faq-section -->
<section class="wpo-faq-section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="wpo-section-title">
                    <span>Frequently Asked Questions</span>
                    <h2>Answers to Your Queries</h2>
                </div>
            </div>
        </div>
        <div class="wpo-faq-wrapper">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
                    <div class="accordion" id="faqAccordion">

                        @foreach (var item in Model.Select((faq, index) => new { faq, index }))
                        {
                            // توليد IDs فريدة لكل عنصر للحفاظ على وظائف Accordion
                            var uniqueHeadingId = "heading" + item.faq.Id; // استخدم ID العنصر لضمان التفرد
                            var uniqueCollapseId = "collapse" + item.faq.Id;

                            // حساب مدة الـ animation بشكل تصاعدي
                            // يبدأ بـ 1000ms ويزيد 200ms لكل عنصر تالي
                            var wowDuration = (item.index * 200) + 1000; // milliseconds

                            <div class="accordion-item wow fadeInUp" data-wow-duration="@(wowDuration)ms">
                                <h3 class="accordion-header" id="@uniqueHeadingId">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#@uniqueCollapseId" aria-expanded="false" aria-controls="@uniqueCollapseId">
                                        @item.faq.QuestionEn
                                    </button>
                                </h3>
                                <div id="@uniqueCollapseId" class="accordion-collapse collapse" aria-labelledby="@uniqueHeadingId"
                                     data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        @Html.Raw(item.faq.AnswerEn)
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end wpo-faq-section -->