@model SideMenuVM
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-right image">
                <img src="~/Images/avatar.png" style="height:45px" class="img-circle" alt="@Model.Name" />
            </div>
            <div class="pull-left info">
                <p>@Model.Name</p>
                <a href="#"><i class="fa fa-circle text-success"></i> متواجد</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview @(Context.Request.Path.ToString().ToLower().Contains("cp") ? "active" : "")">
                <a href="/Dashboard/Index" class="nav-link link-body-emphasis">
                    <i class="fa fa-chart-bar"></i> التقارير
                </a>
            </li>

            <li class="treeview @(Context.Request.Path.ToString().ToLower().Contains("orders") ? "active" : "")">
                <a href="/Orders/" class="nav-link link-body-emphasis">
                    <i class="fa fa-shopping-bag"></i> كل الطلبات
                </a>
            </li>


            <li class="treeview @(Context.Request.Path.ToString().ToLower().Contains("Agents") ? "active" : "")">
                <a href="#">
                    <i class="fas fa-Agent"></i>
                    <span>إدارة المتاجر</span>
                    <i class="fa fa-angle-left pull-left"></i>
                </a>

                <ul class="treeview-menu @(Context.Request.Path.ToString().ToLower().Contains("stores/new") ? "menuopen" : "")">
                    <li><a href="@Url.Action("New", "Stores")"><i class="fa fa-plus-circle"></i>  متجر جديد  </a></li>
                </ul>


            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
