@model HeaderVM
<header class="main-header animate__animated animate__fadeIn">
    <!-- Logo -->
    <a href="@Url.Action("Index", "cp")" class="logo">
        <span class="logo-mini"><b>Evyte</b></span>
        <span class="logo-lg"><b>Evyte</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas">
            <i class="fas fa-bars"></i>
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Notifications Dropdown -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-bell"></i>
                        <span class="label label-neon @(Model.NotificationsNumber <= 0 ? "hidden" : "")" id="outside-notifications-number">@Model.NotificationsNumber</span>
                    </a>
                    <ul class="dropdown-menu animate__animated animate__zoomIn">
                        <li class="header text-center">
                            @(Model.NotificationsNumber > 0 ? $"لديك <span id='inside-notifications-number'>{Model.NotificationsNumber}</span> إشعار جديد" : "ليس لديك إشعارات جديدة")
                        </li>
                        @if (Model.Notifications != null && Model.Notifications.Count > 0)
                        {
                            <li>
                                <ul class="menu" id="notification-list">
                                    @foreach (var notification in Model.Notifications)
                                    {
                                        <li id="not_@notification.Id" class="@(!notification.IsSeen ? "unseen" : "")">
                                            <a onclick="MarkNotificationAsSeen('@notification.Id')" href="#" style="white-space: initial;">
                                                <i class="fas fa-circle text-@(notification.IsSeen ? "seen" : "unseen")"></i>
                                                <span>@notification.Body</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li class="footer"><a href="@Url.Action("All","Notifications")">عرض الجميع</a></li>
                        }
                        else
                        {
                            <li class="footer"><a href="#">ليس هناك بيانات متاحة</a></li>
                        }
                    </ul>
                </li>
                <!-- User Account Dropdown -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Images/avatar.png" class="user-image" alt="@Model.Name" />
                        <span class="hidden-xs typing-effect" data-text="@Model.Name">@Model.Name</span>
                    </a>
                    <ul class="dropdown-menu animate__animated animate__slideInDown">
                        <li class="user-header">
                            <img src="~/Images/avatar.png" class="img-circle" alt="@Model.Name" />
                            <p class="typing-effect" data-text="@Model.Name">@Model.Name</p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="@Url.Action("ChangePassword", "cp", new { id = ViewBag.UserId })" class="btn btn-neon">تغيير كلمة السر</a>
                            </div>
                            <div class="pull-left">
                                @using (Html.BeginForm("Logout", "cp", FormMethod.Get))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-neon">تسجيل الخروج</button>
                                }
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>